.hero {
    position: relative;
    height: 800px;
    overflow: hidden;
    background-color: #092a1e; // fallback تحت الفيديو

    @media screen and (max-width: 1700px) {
        height: 700px;
    }

    video {
        width: 100%;
        height: 100%;
        object-fit: cover;
    }

    .overlay {
        position: absolute;
        inset: 0;
        background: #092a1ed9;

        .container {
            height: 100%;
        }

        .overlay-cont {
            display: flex;
            align-items: center;
            justify-content: center;
            gap: 80px;
            height: 100%;
            color: #ffffff;

            @media screen and (max-width: 1200px) {
                gap: 40px;
            }

            @media screen and (max-width: 992px) {
                flex-direction: column-reverse;
                justify-content: center;
                text-align: center;
            }
        }

    }

    /* Left image */
    .l-side {
        flex-shrink: 0;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 24px;

        .main-auction-img {
            display: block;
        }

        .img-fluid {
            width: 544px;
            height: 544px;
            border-radius: 24px;
            object-fit: cover;
            display: block;
            box-shadow: 0 24px 60px rgba(0, 0, 0, 0.4);

            @media screen and (max-width: 992px) {
                width: 360px;
                height: 360px;
            }

            @media screen and (max-width: 767px) {
                width: 280px;
                height: 280px;
            }
        }
    }

    /* Right side (text + buttons) */
    .r-side {
        max-width: 640px;
        display: flex;
        flex-direction: column;
        gap: 24px;

        @media screen and (max-width: 992px) {
            align-items: center;
        }

        h1 {
            font-size: 64px;
            font-weight: 700;
            line-height: 1.2;
            margin: 0;

            @media screen and (max-width: 1700px) {
                font-size: 44px;
            }

            @media screen and (max-width: 1200px) {
                font-size: 32px;
            }

            @media screen and (max-width: 576px) {
                font-size: 26px;
            }
        }

        p {
            font-size: 28px;
            line-height: 1.2;
            color: #e5e7eb;
            margin: 0;

            @media screen and (max-width: 1200px) {
                font-size: 16px;
            }
        }

        .hero-actions {
            display: flex;
            gap: 16px;
            margin-top: 8px;

            @media screen and (max-width: 576px) {
                flex-direction: column;
                width: 100%;
                align-items: stretch;
            }
        }
    }

    .btns-cont {
        display: flex;
        gap: 32px;

        @media screen and (max-width: 576px) {
            flex-direction: column;
            width: 100%;
            align-items: stretch;
        }
    }
}

/* Buttons */
.main-btn,
.sec-btn {
    min-width: 200px;
    padding: 14px 24px;
    border-radius: 8px;
    font-size: 16px;
    font-weight: 600;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    border: 1px solid transparent;
    transition: all 0.2s ease-in-out;

    @media screen and (max-width: 576px) {
        width: 100%;
    }
}

.main-btn {
    background-color: $main;
    color: #ffffff;
    border-color: $main;

    &:hover {
        background-color: #166845;
        border-color: #166845;
    }
}

.sec-btn {
    background-color: transparent;
    color: #ffffff;
    border-color: #ffffff;

    &:hover {
        background-color: rgba(255, 255, 255, 0.1);
    }
}


.license-hero {
    height: 400px;

    @media screen and (max-width: 992px) {
        height: 350px;
    }
}

.scroll-down {
    width: 50px;
    height: 80px;
    border-radius: 18px;
    background: rgba(255, 255, 255, 0.1);
    backdrop-filter: blur(10px);
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    position: absolute;
    bottom: 20px;
    left: 50%;
    transform: translateX(-50%);
    z-index: 20;

    .scroll-icon {
        font-size: 24px;
        color: white;
        animation: bounce 2s infinite;
    }
}

@keyframes bounce {

    0%,
    20%,
    50%,
    80%,
    100% {
        transform: translateY(0);
    }

    40% {
        transform: translateY(-10px);
    }

    60% {
        transform: translateY(-5px);
    }
}

.contact-hero {
    height: 150px;

    @media screen and (max-width: 992px) {
        height: 200px;
    }
}

.license-hero-cont {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100%;
    width: 100%;
    color: #ffffff;
    max-width: 1150px;
    margin: 0 auto;
    gap: 16px;

    h2 {
        font-size: 56px;
        font-weight: 600;
        margin: 0;
        text-align: center;

        @media screen and (max-width: 992px) {
            font-size: 32px;
        }
    }

    p {
        font-size: 24px;
        line-height: 1.2;
        color: #e5e7eb;
        font-weight: 500;
        text-align: center;
        margin: 0;
        line-height: 1.5;
        //max 2 lines
        overflow: hidden;
        display: -webkit-box;
        -webkit-line-clamp: 2;
        -webkit-box-orient: vertical;

        @media screen and (max-width: 992px) {
            font-size: 16px;
        }
    }
}

.contact-hero-cont {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    width: 100%;
    max-width: 1150px;
    margin: 0 auto;
    gap: 16px;

    svg {
        color: white;
    }

    h2,
    h3 {
        font-size: 32px;
        font-weight: 700;
        margin: 0;
        color: #ffffff;
        text-align: center;

        @media screen and (max-width: 992px) {
            font-size: 20px;
        }
    }

    h3 {
        color: #FBFBFBB2;
    }
}

/* Auctions hero specific */
.auctions-hero {}

.thumbs-row {
    display: flex;
    gap: 16px;
    max-width: 544px;
    width: 100%;
    overflow-x: hidden; // more than 3 images => scroll
    padding-bottom: 4px;

    @media screen and (max-width: 992px) {
        max-width: 360px;
        gap: 8px;
    }
}

.hidden-fancybox-link {
    display: none;
}

.auction-thumb {
    border: none;
    padding: 0;
    cursor: pointer;
    border-radius: 16px;
    overflow: hidden;
    background: transparent;
    transition: transform 0.15s ease, box-shadow 0.15s ease, outline 0.15s ease;
    width: 124px; // about 3 visible under 544px main
    height: 110px;
    flex-shrink: 0;
    position: relative;
    overflow: hidden;

    @media screen and (max-width: 992px) {

        width: 84px;
        height: 76px;
    }

    .thumbs-eye {
        position: absolute;
        bottom: 0;
        left: 0;
        width: 100%;
        height: 100%;

        .thumbs-eye-cont {
            width: 100%;
            height: 100%;
            display: flex;
            align-items: center;
            justify-content: center;
            background: #092A1E80;
        }

        z-index: 10;

        img {
            width: 22px;
            height: 22px;
            object-fit: contain;
        }
    }

    .thumb-img {
        width: 100%;
        height: 100%;
        display: block;
        object-fit: cover;

    }

    &:hover {
        transform: translateY(-2px);
        box-shadow: 0 10px 20px rgba(0, 0, 0, 0.35);
    }

    &.active {
        box-shadow: 0 16px 30px rgba(0, 0, 0, 0.45);
    }
}

.auctions-hero .l-side .img-fluid {
    width: 544px;
    height: 400px;

    @media screen and (max-width: 992px) {
        width: 360px;
        height: 360px;
    }

    @media screen and (max-width: 767px) {
        height: 240px;
    }
}

.auctions-swiper {
    width: 100%;
    height: 100%;

    .swiper-pagination-bullet {
        background-color: $white !important;
        width: 12px !important;
        height: 12px !important;
        border-radius: 50% !important;
        opacity: 1 !important;
    }

    .swiper-pagination-bullet-active {
        background-color: $main !important;
    }
}