.section-header {


  display: flex;
  align-items: center;
  justify-content: space-between;

  @media screen and (max-width: 768px) {
    flex-direction: column;
    gap: 16px;
    align-items: flex-start;
    justify-content: flex-start;

  }


  .r-side {
    h2 {
      font-size: 32px;
      font-weight: 600;
      color: #212529;
    }

    p {
      color: #343A40;
      font-size: 16px;
      font-weight: 400;
    }
  }

  .l-side {
    flex-shrink: 0;
  }
}

.news-section {
  padding: 80px 0;
}

.regular-btn {
  color: #212529;
  font-size: 15px;
  font-weight: 500;
  border: 1px solid #D2D6DB;
  height: 40px;
  line-height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0px 20px;
  border-radius: 4px;
}


.news-content {
  margin-top: 32px;
  display: grid;
  grid-template-columns: 1fr;
  gap: 24px;

  @media screen and (min-width: 768px) {
    grid-template-columns: repeat(2, minmax(0, 1fr));
  }

  @media screen and (min-width: 1280px) {
    grid-template-columns: repeat(3, minmax(0, 1fr));
  }
}

.news-item {
  border-radius: 24px;
  overflow: hidden;
  border: 1px solid #EEEEEE;
  display: flex;
  flex-direction: column;
  height: 100%;
}

.news-item-img {
  position: relative;
  width: 100%;
  overflow: hidden;
  padding: 16px 16px 0 16px;

  .overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(180deg, rgba(0, 0, 0, 0.05) 0%, rgba(0, 0, 0, 0.65) 69.71%);
    z-index: 10;
    opacity: 1;
    transition: opacity 0.3s ease-in-out;
  }

  .title-cont {
    position: absolute;
    top: 32px;
    inset-inline-start: 32px;
    z-index: 11;
    display: flex;
    height: 40px;
    padding: 4px 18px;
    justify-content: center;
    align-items: center;
    //blur
    backdrop-filter: blur(20px);
    border-radius: 20px;
    font-size: 14px;
    font-weight: 400;
    color: $white;
    border: 1px solid;

  }

  .news-img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: block;
    border-radius: 8px;

  }

  .img-cont {
    transition: transform 0.3s ease-in-out;
    position: relative;
    aspect-ratio: 517/245;
    overflow: hidden;
    border-radius: 8px;
  }

  .director-img-cont {
    aspect-ratio: 517/448;
  }
}
.card-icons-text{
  display: flex;
  align-items: center;
  gap: 10px;
  .icon-text{
    display: flex;
    align-items: center;
    gap: 4px;
    img{
      width: 16px;
      height: auto;
    }
    span{
      font-size: 14px;
      font-weight: 400;
      color: #495057;
    }
  }
}

.news-item:hover .img-cont {
  transform: scale(1.03);

  .overlay {
    opacity: 0;
  }
}

.news-item-content {
  padding: 24px 16px 16px;
  display: flex;
  flex-direction: column;
  gap: 12px;
  flex: 1;

  h3 {
    font-size: 20px;
    font-weight: 600;
    color: #1C1C1C;
    margin: 0 0 4px;
  }

  p {
    font-size: 15px;
    font-weight: 600;
    color: #726E6E;
    margin: 0 0 16px;
    //max 2 lines
    max-height: 48px;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
  }

  .read-more-btn {
    margin-top: auto;
    width: 100%;
    text-align: center;
    border-radius: 9px;
    padding: 12px 20px;
    background-color: $main;
    color: #ffffff;
    font-size: 15px;
    font-weight: 600;
    border: none;

    &:hover {
      background-color: darken(#1B8354, 5%);
      color: #ffffff;
    }
  }
}